<ion-header>
  <ion-toolbar color="success">
    <ion-title>Stats</ion-title>
    <ion-icon routerLink="/super-admin" slot="end" style="zoom: 1.5; margin-right: 5px;" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Stats Section -->
    <div class="stats">
      <h2>Election Statistics</h2>
      <div class="stats-grid">
        <div class="stat-card">
          <ion-icon name="people-outline" class="stat-icon"></ion-icon>
          <div class="stat-details">
            <strong>Total Voter Roll:</strong>
            <span>{{ totalVoterRoll }}</span>
          </div>
        </div>
        <div class="stat-card">
          <ion-icon name="checkbox-outline" class="stat-icon"></ion-icon>
          <div class="stat-details">
            <strong>Total Voter Turnout:</strong>
            <span>{{ totalVoterTurnout }}</span>
          </div>
        </div>
        <div class="stat-card">
          <ion-icon name="close-circle-outline" class="stat-icon"></ion-icon>
          <div class="stat-details">
            <strong>Total Spoilt Ballots:</strong>
            <span>{{ totalSpoiltBallots }}</span>
          </div>
        </div>
        <div class="stat-card">
          <ion-icon name="document-text-outline" class="stat-icon"></ion-icon>
          <div class="stat-details">
            <strong>Total Votes:</strong>
            <span>{{ totalVotes }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Fraud Alerts Section -->
    <div class="fraud-alerts" *ngIf="fraudAlerts.length > 0">
      <h2>Fraud Alerts</h2>
      <div class="alert-slider">
        <div class="alert" *ngFor="let alert of fraudAlerts">
          <ion-icon name="warning-outline" class="alert-icon"></ion-icon>
          <div class="alert-content">
            <strong>{{ alert.municipality }} - Ward {{ alert.ward }}:</strong>
            <p>Total Votes: {{ alert.totalVotes }}</p>
            <p>Voter Roll: {{ alert.voterRoll }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Segment Control -->
    <ion-segment (ionChange)="segmentChanged($event)" [scrollable]="true">
      <ion-segment-button value="votesAndTurnout" checked>
        <ion-label>Votes and Turnout</ion-label>
      </ion-segment-button>
      <ion-segment-button value="votesVsVoterRoll">
        <ion-label>Votes vs Voter Roll</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mkVotes">
        <ion-label>MK Votes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="percentageVotes">
        <ion-label>Percentage Votes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="performanceChart">
        <ion-label>Performance Chart</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Charts -->
    <div id="votesAndTurnout-chart" class="chart-container">
      <canvas #votesAndTurnoutChart></canvas>
    </div>
    <div id="votesVsVoterRoll-chart" class="chart-container">
      <canvas #votesVsVoterRollChart></canvas>
    </div>
    <div id="mkVotes-chart" class="chart-container" style="display: none;">
      <canvas #mkVotesChartCanvas></canvas>
    </div>
    <div id="percentageVotes-chart" class="chart-container" style="display: none;"> <!-- Added chart container -->
      <canvas #percentageVotesChartCanvas></canvas>
    </div>

    <div id="performanceChart-chart" class="chart-container" style="display: none;">
      <canvas #performanceChartCanvas></canvas>
    </div>
  </div>
</ion-content>