<ion-header>
  <ion-toolbar>
    <ion-title>Voting Districts</ion-title>
    <ion-icon routerLink="/region" slot="end" style="zoom: 1.5; margin-right: 5px;" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="municipality-container" *ngFor="let municipality of municipalities">
    <h2 (click)="selectMunicipality(municipality)">{{ municipality.municipality }}</h2>
    <ul *ngIf="selectedMunicipality === municipality">
      <li *ngFor="let ward of municipality.wards" (click)="selectWard(ward)">
        {{ ward.ward }}
        <ul *ngIf="selectedWard === ward">
          <li *ngFor="let votingStation of ward.votingStations">
            Voting Station: {{ votingStation.name }} - Voter Roll: {{ votingStation.voterRoll }}
          </li>
          <li>
            <ion-item>
              <ion-label position="floating">Voting Station Number</ion-label>
              <ion-input [(ngModel)]="votingStationName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Voter Roll</ion-label>
              <ion-input type="number" [(ngModel)]="votingStationRoll"></ion-input>
            </ion-item>
            <ion-button expand="full" (click)="addVotingStation()">
              <ion-icon name="add" slot="start"></ion-icon>
              Add Voting Station
            </ion-button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</ion-content>
