<ion-header>
  <ion-toolbar>
    <ion-title>Voting Districts</ion-title>
    <ion-icon routerLink="/region" slot="end" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <div class="municipality-container" *ngFor="let municipality of municipalities">
    <h2 (click)="selectMunicipality(municipality)">{{ municipality.municipality }}</h2>
    <ul *ngIf="selectedMunicipality === municipality">
      <li *ngFor="let ward of municipality.wards" (click)="selectWard(ward)">
        {{ ward.ward }}
        <ul *ngIf="selectedWard === ward">
          <li *ngFor="let votingStation of ward.votingStations">
            Voting Station: {{ votingStation }}
          </li>
          <li>
            <input type="text" [(ngModel)]="votingStationNumber" placeholder="Add voting station" />
            <button (click)="addVotingStation()">Add Voting Station</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  
  
  
</ion-content>