
  .error-message {
  color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-size: 12px;
  margin-top: 5px;
  margin-left: 12px;
}

.ion-text-center {
  text-align: center;
}

.parties{
  background-color:rgb(173, 24, 24);
  margin-top: 50px;
  border-top-color: red;
  border: 10px solid;
}
.dissabledIndicator{
 // background-color:lightgray;
 background-color: rgba(211, 211, 211, 0.2);
 border-radius: 7px;

}

.readonly-input {
  background-color: rgba(129, 113, 113, 0.3); /* Semi-transparent white */
  color: #000000;
  border: 1px solid #ffffff;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  backdrop-filter: blur(10px); /* Apply blur to the background */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.readonly-input[readonly] {
  cursor: not-allowed;
}


.readonly-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

