<ion-header>
  <ion-toolbar color="success">
    <ion-title>Stats</ion-title>
    <ion-icon routerLink="/region" slot="end" style="zoom: 1.5; margin-right: 5px;" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <!-- Main Stats Section -->
    <div class="main-stats">
      <h2>Main Election Statistics</h2>
      <div class="stats-grid">
        <div class="stat-block main-stat-block">
          <ion-icon name="people-circle-outline"></ion-icon>
          <strong>Total Voter Roll:</strong>
          <span>{{ totalVoterRoll }}</span>
        </div>
        <div class="stat-block main-stat-block">
          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
          <strong>Total Voter Turnout:</strong>
          <span>{{ totalVoterTurnout }}</span>
        </div>
        <div class="stat-block main-stat-block">
          <ion-icon name="close-circle-outline"></ion-icon>
          <strong>Total Spoilt Ballots:</strong>
          <span>{{ totalSpoiltBallots }}</span>
        </div>
        <div class="stat-block main-stat-block">
          <ion-icon name="document-text-outline"></ion-icon>
          <strong>Total Votes:</strong>
          <span>{{ totalVotes }}</span>
        </div>
      </div>
    </div>

    <!-- Stats Section -->
    <div class="stats">
      <h2>Election Statistics</h2>
      <div class="stats-grid">
        <div class="stat-block">
          <ion-icon name="trending-up-outline"></ion-icon>
          <strong>MK Votes:</strong>
          <span>{{ mkVotes }}</span>
        </div>
        
        <div class="stat-block">
          <ion-icon name="trending-up-outline"></ion-icon>
          <strong>ANC Votes:</strong>
          <span>{{ ancVotes }}</span>
        </div>
        <div class="stat-block">
          <ion-icon name="trending-up-outline"></ion-icon>
          <strong>DA Votes:</strong>
          <span>{{ daVotes }}</span>
        </div>
        <div class="stat-block">
          <ion-icon name="trending-up-outline"></ion-icon>
          <strong>EFF Votes:</strong>
          <span>{{ effVotes }}</span>
        </div>
        <div class="stat-block">
          <ion-icon name="trending-up-outline"></ion-icon>
          <strong>IFP Votes:</strong>
          <span>{{ ifpVotes }}</span>
        </div>
     
        <div class="stat-block">
          <ion-icon name="trending-up-outline"></ion-icon>
          <strong>ActionSA Votes:</strong>
          <span>{{ actsaVotes }}</span>
        </div>
        
      </div>
    </div>

    <!-- Fraud Alerts Section -->
    <div class="fraud-alerts" *ngIf="fraudAlerts.length > 0">
      <h2>Fraud Alerts</h2>
      <div class="alert-slider">
        <div class="alert" *ngFor="let alert of fraudAlerts">
          <ion-icon name="warning-outline" class="alert-icon"></ion-icon>
          <div class="alert-content">
            <strong>{{ alert.municipality }} - Ward {{ alert.ward }}:</strong>
            <p>Total Votes: {{ alert.totalVotes }}</p>
            <p>Voter Roll: {{ alert.voterRoll }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Segment Control -->
    <ion-segment (ionChange)="segmentChanged($event)" [scrollable]="true">
      <ion-segment-button value="votesVsVoterRoll" checked>
        <ion-label>Votes Parties</ion-label>
      </ion-segment-button>
      <ion-segment-button value="generalStats">
        <ion-label>General Stats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lineChart">
        <ion-label>Line Chart</ion-label>
      </ion-segment-button>
      <ion-segment-button value="radarChart">
        <ion-label>Radar Chart</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Charts -->
    <div id="votesVsVoterRoll-chart" class="chart-container">
      <canvas #votesVsVoterRollChart></canvas>
    </div>
    <div id="generalStats-chart" class="chart-container" style="display: none;">
      <canvas #generalStatsChart></canvas>
    </div>
    <div id="lineChart-chart" class="chart-container" style="display: none;">
      <canvas #lineChart></canvas>
    </div>
    <div id="radarChart-chart" class="chart-container" style="display: none;">
      <canvas #radarChart></canvas>
    </div>
  </div>
</ion-content>
