
.dashboard-card {
  --background: #e6ffe6; /* Light green background for cards */
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 12px;
}

.dashboard-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-header {
  display: flex;
  align-items: center;
}

.card-icon {
  font-size: 2.5rem;
  color: #004d00; /* Dark green color for icons */
  margin-right: 12px;
}

ion-card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #004d00; /* Dark green color for card titles */
}

.card-content {
  font-size: 1rem;
  color: #004d00; /* Dark green color for card content */
}

.top-row {
  margin-bottom: 20px;
}

.bottom-row .wide-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}