<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Region Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <ion-grid>
    <ion-row>

      <ion-col size="12" size-md="4">
        <ion-card routerLink="/vd" routerDirection="root" class="dashboard-card">
          <ion-card-header class="card-header">
            <ion-icon name="stats-chart" class="card-icon"></ion-icon>
            <ion-card-title>Add Voting Station</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            Add Voting stations
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="4">
        <ion-card routerLink="/approve" routerDirection="root" class="dashboard-card">
          <ion-card-header class="card-header">
            <ion-icon name="person" class="card-icon"></ion-icon>
            <ion-card-title>Ward User Profile</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            View and update your region user profiles.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card routerLink="/region-stats" routerDirection="root" class="dashboard-card">
          <ion-card-header class="card-header">
            <ion-icon name="stats-chart" class="card-icon"></ion-icon>
            <ion-card-title>Region Stats</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            View statistics and reports of Region.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>