<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>superAdmin</ion-title>
    <ion-icon slot="end" name="power-outline" (click)="presentConfirmationAlert()" style="color: white;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card routerLink="/municipality" routerDirection="root" class="dashboard-card">
          <ion-card-header class="card-header">
            <ion-icon name="business" class="card-icon"></ion-icon>
            <ion-card-title>Municipality</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            Manage municipalities and wards.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card routerLink="/validation" routerDirection="root" class="dashboard-card">
          <ion-card-header class="card-header">
            <ion-icon name="person" class="card-icon"></ion-icon>
            <ion-card-title>User Profile</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            View and update your user profile.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/stats" routerDirection="root" class="dashboard-card wide-card">
          <ion-card-header class="card-header">
            <ion-icon name="stats-chart" class="card-icon"></ion-icon>
            <ion-card-title>Stats</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            View statistics and reports.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/view" routerDirection="root" class="dashboard-card wide-card">
          <ion-card-header class="card-header">
            <ion-icon name="receipt-outline" class="card-icon"></ion-icon>
            <ion-card-title>Slip</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            View Election Slip reports.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>