<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Select Role</ion-label>
      <ion-select [(ngModel)]="selectedRole" (ionChange)="onRoleChange()">
        <ion-select-option value="SuperAdmin">Super Admin</ion-select-option>
        <ion-select-option value="GroundAdmin">Ground Admin</ion-select-option> 
      </ion-select>
    </ion-item>

    <ion-item *ngIf="selectedRole === 'GroundAdmin'">
      <ion-label position="floating">Municipality</ion-label>
      <ion-select [(ngModel)]="selectedMunicipality" (ionChange)="onMunicipalityChange($event)">
        <ion-select-option *ngFor="let municipality of municipalities" [value]="municipality">{{ municipality.municipality }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item class="input-item">
      <ion-label position="stacked">Ward</ion-label>
      <ion-select formControlName="ward" interface="action-sheet" required>
        <ion-select-option *ngFor="let ward of selectedMunicipalityWards" [value]="ward.ward">{{ ward.ward }}</ion-select-option>
      </ion-select>
    </ion-item> -->


    <ion-item *ngIf="selectedRole === 'GroundAdmin'">
      <ion-label position="floating">Ward</ion-label>
      <ion-select [(ngModel)]="selectedWard">
        <ion-select-option *ngFor="let ward of selectedMunicipalityWards" [value]="ward">{{ ward.ward }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="Register()">Sign Up</ion-button>
  </div>

  <p>Already have an account? <a routerLink="/login">Login</a></p>
  <p>........................<a routerLink="/reset">reset</a></p>
</ion-content>
