<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <!-- <ion-label position="floating">Name</ion-label> -->
      <ion-input type="text" placeholder="Leader name" maxlength="80"  [(ngModel)]="leader"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <!-- <ion-label position="floating">Name</ion-label> -->
      <ion-input type="text" placeholder="Name"  maxlength="80"    [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
     
      <ion-input type="email" placeholder="Email"  maxlength="110"  [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
      <!-- <ion-label position="floating">Cell Number</ion-label> -->
      <ion-input type="email" placeholder="Cell Number" maxlength="15" [(ngModel)]="cellNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Select Role</ion-label>
      <ion-select [(ngModel)]="selectedRole" (ionChange)="onRoleChange()">
        <ion-select-option value="SuperAdmin">Super Admin</ion-select-option>
        <ion-select-option value="RegionAdmin">Region Admin</ion-select-option>
        <ion-select-option value="GroundForce">Ground Force</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="search-dropdown-container">
      <ion-item *ngIf="selectedRole === 'RegionAdmin' || selectedRole === 'GroundForce'">
        <ion-label position="stacked">Municipality</ion-label>
        <div class="search-dropdown">
          <ion-searchbar
            [(ngModel)]="municipalitySearchText"
            (ionChange)="filterMunicipalities($event)"
            showCancelButton="never"
            debounce="500"
            placeholder="Search Municipality"
          ></ion-searchbar>
          <ion-select
            [(ngModel)]="selectedMunicipality"
            (ionChange)="onMunicipalityChange($event)"
            interface="popover"
            placeholder="Select Municipality"
          >
            <ion-select-option
              *ngFor="let municipality of filteredMunicipalities"
              [value]="municipality.municipality"
            >
              {{ municipality.municipality }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-item>

      <ion-item *ngIf="selectedRole === 'GroundForce'">
        <ion-label position="stacked">Ward</ion-label>
        <div class="search-dropdown">
          <ion-searchbar
            [(ngModel)]="wardSearchText"
            (ionChange)="filterWards($event)"
            showCancelButton="never"
            debounce="500"
            placeholder="Search Ward"
          ></ion-searchbar>
          <ion-select
            [(ngModel)]="selectedWard"
            interface="popover"
            placeholder="Select Ward"
          >
            <ion-select-option
              *ngFor="let ward of filteredWards"
              [value]="ward.ward"
            >
              {{ ward.ward }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-item>
    </div>

    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <!-- <ion-label position="floating">Password</ion-label> -->
      <ion-input type="password" maxlength="80" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <!-- <ion-label position="floating">Confirm Password</ion-label> -->
      <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirm_password"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="Register()">Sign Up</ion-button>
  </div>

  <div class="ion-text-center ion-padding">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
    <p>Forgot your password? <a routerLink="/reset">Reset</a></p>
  </div>
</ion-content>