ion-header, ion-toolbar {
  --background: #53A546;
  --color: #fff;
}

ion-content {
  --background: #f3f4f6;
}

ion-item {
  --background: #fff;
}

ion-label {
  --color: #222428;
}

ion-input {
  --color: #222428;
}

ion-button {
  --background: #53A546;
  --color: #fff;
}

a {
  color: #53A546;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}