<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      <ion-icon name="camera-outline" animation="pulse infinite"></ion-icon>
      VD Station Photo
    </ion-title>
    <ion-icon routerLink="/counter" slot="end" style="zoom: 1.5; margin-right: 5px;" name="arrow-back-outline" animation="bounce"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" #formDir="ngForm"animation="fade-in">
    <ion-item class="input-item">
      <ion-label position="stacked">VD Number</ion-label>
      <ion-select formControlName="vdNumber" interface="action-sheet" placeholder="Select VD Number">
        <ion-select-option *ngFor="let station of votingStations" [value]="station.name">{{ station.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="formDir.submitted && uploadForm.get('vdNumber')?.invalid && uploadForm.get('vdNumber')?.value === ''" class="error-message">VD Number is required.</div>



    <ion-img *ngIf="capturedImageUrl" [src]="capturedImageUrl" alt="Captured Image"></ion-img>

    <ion-button class="camera-btn" expand="full" (click)="takePhoto()" animation="pulse infinite">
      <ion-icon name="camera" slot="start"></ion-icon>
      Take Photo
    </ion-button>

    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>
</ion-content>
